<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://ada-ks.github.io/app_downloads/newlife330/uat/2025-05-02-001/newlife330%20UAT.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://ada-ks.github.io/app_downloads/newlife330/uat/2025-05-02-001/app_icon_57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://ada-ks.github.io/app_downloads/newlife330/uat/2025-05-02-001/app_icon_1024.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.newlife330.newlife330.uat</string>
				<key>bundle-version</key>
				<string>2.12.0</string>
				<key>kind</key>
				<string>software</string>
				<key>platform-identifier</key>
				<string>com.apple.platform.iphoneos</string>
				<key>title</key>
				<string>newlife 330 UAT</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
